<div class="py-[4px] h-full">
  <button
    id="toggle-dark-mode-button"
    title="dark mode toggle"
    type="button"
    class="icon-button dark px-2 py-[4px] h-full"
    data-controller="dark-mode"
    data-action="click->dark-mode#toggle"
  >
    <%= inline_svg_tag "sun.svg", class: "h-full max-w-6" %>
  </button>
</div>
