<header data-turbo-permanent>
  <div class="menu-button py-[5px]">
    <button
      id="toggle-sidebar-button"
      title="sidebar toggle"
      type="button"
      class="
        icon-button px-1 py-[4px] h-full hover:bg-white hover:bg-opacity-20
      "
    >
      <%= inline_svg_tag "arrow-rect.svg", class: " h-full" %>
    </button>
  </div>
</header>
