@import 'tailwindcss';
@import './base.tailwind.css' layer(base);
@import './utilities.tailwind.css' layer(utilities);
@import './components.tailwind.css' layer(components);
@import './montserrat.css';

@import './layout.tailwind.css' layer(components);

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

@source './**/*.css';
@source '../../views/**/*';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: Montserrat, Inter var, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-theme-main: var(--theme-main);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-btn-bg: var(--btn-bg);
  --color-main-text: var(--main-text);
  --color-theme-highlight: var(--theme-highlight);
  --color-border-grey: var(--border-grey);
  --color-focus: var(--color-focus);
  --color-hover: var(--color-hover);
  --color-danger-text: var(--color-danger-text);
  --color-danger-bg: var(--color-danger-bg);
}

:root {
  --header-height: 3rem;
  font-size: 18px;

  /* Default color values that should be overridden by a theme */
  --theme-main:  cyan;
  --primary-bg: cyan;
  --secondary-bg: cyan;
  --btn-bg: cyan;
  --main-text: cyan;
  --theme-highlight:cyan;
  --border-grey: cyan;
  --color-focus: cyan;
  --color-hover: cyan;
  --color-danger-text: cyan;
  --color-danger-bg: cyan;

  [data-theme='sapphire'] {
    --theme-main: var(--color-blue-900);
    --primary-bg: var(--color-slate-900);
    --secondary-bg: color-mix(in oklch, var(--primary-bg) 100%, var(--color-gray-300) 50%);
    --theme-highlight: color-mix(in oklch, var(--theme-main) 60%, var(--color-gray-500) 10%);
    --btn-bg: color-mix(in oklch, var(--theme-highlight) 100%, var(--color-blue-300) 10%);
    --main-text: white;
    --border-grey: color-mix(in oklch, var(--theme-main) 100%, grey 20%);
    --color-focus: var(--color-blue-600);
    --color-hover: var(--color-blue-400);
    --color-danger-text: var(--color-red-600);
    --color-danger-bg: var(--color-red-100);
  }

  [data-theme='aqua'] {
    --theme-main:  oklch(83.2% 0.032 255.585 / 0.3);
    --primary-bg: oklch(98.86% 0.0026 286.35);
    --secondary-bg: color-mix(in oklch, var(--primary-bg) 100%, var(--color-gray-300) 50%);
    --theme-highlight: color-mix(in oklch, var(--theme-main) 60%, var(--color-gray-500) 10%);
    --btn-bg: color-mix(in oklch, var(--theme-highlight) 100%, var(--color-blue-300) 10%);
    --main-text: var(--color-blue-900);
    --border-grey: color-mix(in oklch, var(--theme-main) 100%, grey 20%);
    --color-focus: var(--color-blue-600);
    --color-hover: var(--color-blue-400);
    --color-danger-text: var(--color-red-600);
    --color-danger-bg: var(--color-red-100);
  }

  [data-theme='leaf-light'] {
    --theme-main: #709b79;
    --primary-bg: #DFE2DC;
    --secondary-bg: #E6E9E1;
    --btn-bg: var(--color-green-100);
    --main-text: #709b79;
    --theme-highlight: #709b79;
    --border-grey: #709b79;
    --color-focus: #709b79;
    --color-hover: #709b79;
    --color-danger-text: #709b79;
    --color-danger-bg: #709b79;
  }
}

/* I wish I could put this in `base` but for some reason,
stuff I put in base was overridden by stuff from tailwind itself */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @apply block
  rounded-md
  border
  border-gray-400
  outline-hidden
  px-3
  py-2
  w-full
  transition-colors;

  &:hover {
    @apply border-hover;
  }

  &:focus, &:active {
    @apply border-focus outline-none ring-0
  }
}
