.icon-button {
  @apply transition-colors bg-transparent rounded-md cursor-pointer;
  color: var(--main-text);
  transition-duration: 150ms;

  &.dark:hover {
    background-color: var(--theme-highlight);
  }

  &.light {
    @apply hover:bg-black/20;
  }
}

.container-card {
  @apply p-6 rounded-lg bg-secondary-bg;
}

.btn-primary {
  @apply rounded-md
      py-2
      px-6
      bg-btn-bg
      text-main-text
      inline-block
      font-medium
      cursor-pointer
      transition-colors;

  transition-duration: 200ms;

  &:hover {
    @apply
      bg-main-text  text-white;
  }

  &.danger {
    @apply bg-danger-bg text-danger-text;

    &:hover {
      @apply
      bg-danger-text dark:bg-danger-text
      text-white dark:text-danger-bg;
    }
  }
}

input, textarea{
  @apply dark:bg-slate-800;
}

.flash {
  @apply py-2
    px-3
    mb-5
    border-1
    font-medium
    rounded-lg
    block
    w-fit
    min-w-[30%]
    text-center;

  &.notice {
    @apply bg-green-50
      text-green-600
      border-green-500;
  }

  &.alert {
    @apply bg-danger-bg
      text-danger-text
      border-red-400;
  }
}

ul#messages-list {
  .chat-line {
    @apply px-2;

    &:hover {
      @apply bg-slate-200 rounded-md;
    }
  }
}
