:root {
  --sidebar-animation-duration: 150ms;
}

header {
  @apply text-white pl-1 pr-2;
  display: flex;
  width: 100%;
  gap: 1rem;
  height: var(--header-height);
  background-color: var(--theme-main);
  border-bottom: 1px solid var(--border-grey);
}


main {
  @apply flex flex-col w-full bg-(--primary-bg) rounded-tl-md
  dark:bg-slate-900 dark:text-gray-200;
  justify-content: start;
  overflow-y: auto;
}

.main-split {
  display: flex;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.super-sidebar {
  @apply transition-all text-white pl-1.5 pr-1 rounded-br-md;
  transition-duration: var(--sidebar-animation-duration);
  background-color: var(--theme-main);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 16rem;
  border-right: 1px solid var(--border-grey);

  .sidebar-element {
    @apply w-full mt-2;
  }

  .sidebar-element > a > .icon-button {
    @apply px-2 py-2 flex items-center w-full;
    transition: padding var(--sidebar-animation-duration) ease-out;

    &.active {
      background-color: var(--theme-highlight);
    }
  }

  .sidebar-element > a > .icon-button > p {
    @apply ml-2;
    opacity: 1;
    transition: opacity var(--sidebar-animation-duration) ease-out;
  }

  .sidebar-element > a > .icon-button > svg {
    width: 1.5rem;
    min-width: 1.5rem;
    max-height: 2rem;
    transition: all var(--sidebar-animation-duration) ease-out;
  }

  &[data-expanded="false"] {
    width: 3.3rem;

    /* Hide text when sidebar is collapsed,
     * only showing icons */
    .sidebar-element > a > .icon-button > p {
      display: none;
    }
    .sidebar-element {
      @apply w-fit;
    }
    .sidebar-element > a > .icon-button {
      @apply px-2 justify-center;
    }

    .sidebar-element > a > .icon-button > svg {
      width: 1.5rem;
      min-width: 1.5rem;
    }
  }

  &[data-expanded="true"] {
    @apply pr-2;
  }
}
