:root {
  --sidebar-animation-duration: 200ms;
}

header {
  @apply text-white pl-1 pr-2;
  display: flex;
  width: 100%;
  gap: 1rem;
  height: var(--header-height);
  background-color: var(--theme-main-color);
}

.main-split {
  display: flex;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.super-sidebar {
  @apply transition-all text-white pl-1 pr-2;
  transition-duration: var(--sidebar-animation-duration);
  background-color: var(--theme-main-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 16rem;

  .sidebar-element {
    @apply w-full mt-2;
  }

  .sidebar-element > a > .icon-button {
    @apply pl-2 pr-1 py-2 flex items-center w-full;
    transition: padding var(--sidebar-animation-duration) ease-out;
  }

  .sidebar-element > a > .icon-button > p {
    opacity: 1;
    transition: opacity var(--sidebar-animation-duration) ease-out;
  }

  .sidebar-element > a > .icon-button > svg {
    width: 1.5rem;
    min-width: 1.5rem;
    max-height: 2rem;
    transition: all var(--sidebar-animation-duration) ease-out;
  }

  &[data-expanded="false"] {
    padding-right: 0;
    width: 3.3rem;

    /* Hide text when sidebar is collapsed,
     * only showing icons */
    .sidebar-element > a > .icon-button > p {
      display: none;
    }
    .sidebar-element {
      @apply w-fit;
    }
    .sidebar-element > a > .icon-button {
      @apply px-1;
    }

    .sidebar-element > a > .icon-button > svg {
      width: 2rem;
      min-width: 2rem;
    }
  }
}

main {
  @apply px-5 flex flex-col w-full bg-slate-50 rounded-tl-md;
  justify-content: start;
  overflow-y: scrautooll;
}
