<li class="sidebar-element">
  <%= link_to path, title: "Link to #{text}" do %>
    <div class="icon-button dark">
      <%= inline_svg_tag "#{icon}.svg", class: "inline-block" %>
      <p class="ml-2"><%= text %></p>
    </div>
  <% end %>
</li>
