<header
  data-turbo-permanent class="flex justify-between">
  <div class="menu-button py-[5px]">
    <button
      id="toggle-sidebar-button"
      title="sidebar toggle"
      type="button"
      class="icon-button dark px-1 py-[4px] h-full"
      data-controller="sidebar"
      data-action="click->sidebar#toggle"
    >
      <%= inline_svg_tag "bars.svg", class: "h-full" %>
    </button>
  </div>
  <div class="justify-self-end self-center">
    <% if Current.user %>
      <%= Current.user.email %>
    <% end %>
  </div>
</header>
