<header
  data-turbo-permanent class="flex justify-between">
  <div class="menu-button py-[5px]">
    <button
      id="toggle-sidebar-button"
      title="sidebar toggle"
      type="button"
      class="icon-button dark px-2 py-[4px] h-full"
      data-controller="sidebar"
      data-action="click->sidebar#toggle"
    >
      <%= inline_svg_tag "bars.svg", class: "h-full max-w-6" %>
    </button>
  </div>
  <div class="justify-self-end self-center">
    <% if Current.user %>
      <%= link_to Current.user.email,
                  identity_account_path,
                  class: "icon-button dark px-4 py-2" %>
    <% end %>
  </div>
</header>
